body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  color: white;
  background: url("./fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.portada {
  width: 100%;
  height: 800px;
  background: url("./anitasport.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 992px) {
  .portada {
    height: 400px;
    background-position: center;
    background-size: cover;
  }
}

.portada h1 {
  color: #fcb600;
  font-family: 'Arizonia';
  font-size: 70px;
}

@media (max-width: 992px) {
  .portada h1 {
    font-size: 30px;
  }
}

.portada #name {
  color: #fff;
  font-size: 120px;
  font-family: 'Bellefair';
}

@media (max-width: 992px) {
  .portada #name {
    font-size: 40px;
  }
}

.portada #description {
  color: #fff;
  font-size: 38px;
  width: 50%;
  font-family: 'Bellefair';
  text-align: center;
}

@media (max-width: 992px) {
  .portada #description {
    width: 80%;
    font-size: 12px;
  }
}

.navbar {
  font-family: 'Lato';
  margin-top: 10px;
  margin-bottom: 10px;
  background: url("./fondo.jpg");
}

.navbar a {
  color: white;
}

.navbar img {
  width: 140px;
}

.botonorder {
  background: white;
  color: #007cef;
  border: none;
  border-radius: 20px;
  padding: 20px 20px;
  font-family: 'Bellefair';
  font-weight: 800;
}

.botonreservar {
  background: none;
  color: #fff;
  border: 2px #fff solid;
  border-radius: 20px;
  padding: 20px 55px;
  font-family: 'Lato';
}

.botonreservar:hover {
  background: #c37f00;
  border: none;
}

.columna1 {
  max-width: 1200px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.columna1 h1 {
  margin-top: 20px;
  font-family: 'Bangers';
}

.columna1 p {
  font-family: 'Lato';
  margin-top: 10px;
  margin-bottom: 30px;
  padding-left: 80px;
  padding-right: 80px;
}

.columna1 .botonorder {
  margin-bottom: 20px;
}

.iconos {
  width: 100%;
  height: 300px;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 800px;
}

@media (max-width: 992px) {
  .iconos {
    height: 200px;
  }
}

.iconos img {
  padding: 10px;
  width: 100%;
  filter: grayscale(1);
  cursor: pointer;
}

.iconos a {
  width: 100%;
}

.iconos img:hover {
  filter: grayscale(0.5);
}

.promo {
  width: 100%;
  height: 400px;
  background: url("./promo.jpg");
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.promo h1 {
  color: #c37f00;
  font-family: 'Bellefair';
  font-weight: 900;
  font-size: 80px;
}

@media (max-width: 992px) {
  .promo h1 {
    font-size: 40px;
  }
}

.reservations {
  width: 100%;
  height: 400px;
  background: url("./table.jpg");
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reservations h1 {
  color: #c37f00;
}

.reservations p {
  color: #fff;
}

.gallery {
  max-width: 800px;
  margin: auto;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  .gallery {
    text-align: center;
  }
}

.gallery h2 {
  font-family: 'Bigshot One';
}

.gallery p {
  font-family: 'Lato';
}

.gallery img {
  width: 80%;
  height: 145.594px;
}

@media (max-width: 992px) {
  .gallery img {
    width: 40%;
    height: 145.594px;
  }
}

.gallery .row {
  margin-top: 50px;
}

@media (max-width: 992px) {
  .gallery .row {
    margin-top: 0;
  }
}

@media (max-width: 992px) {
  .gallery h2 {
    margin-top: 30px;
  }
}

.botonsend {
  background: #c37f00;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 20px 60px;
  font-family: 'Lato';
}

.boton {
  text-align: center;
}

#formulario img {
  width: 40%;
}

#formulario {
  text-align: center;
}

.pie {
  width: 100%;
  height: 600px;
  background: url("./pie.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icono {
  width: 100%;
  text-align: center;
}

.icono a {
  font-size: 35px;
  text-decoration: none;
  color: #fff;
  padding: 20px;
  cursor: pointer;
}

.pie h1 {
  color: #fff;
}

.pie p {
  color: #fff;
  font-family: 'Lato';
  font-size: 18px;
}

.pie #end {
  color: #b5b5b5;
}

.mapa {
  width: 100%;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  margin-left: 30px;
}

.mapa iframe {
  width: 90%;
  height: 450px;
  border: 2px orange solid;
  border-radius: 15px;
}

@media (max-width: 992px) {
  .mapa {
    text-align: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.restaurant {
  width: 100%;
  height: 600px;
  background: url("./resta.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.restaurant h1 {
  color: #c37f00;
  font-family: 'Bangers';
  font-size: 80px;
}

.restaurant img {
  width: 20%;
}

@media (max-width: 992px) {
  .restaurant img {
    width: 40%;
  }
}

#navcol-2 a {
  color: #fff;
}

.photo-gallery {
  text-align: center;
}



.photo-gallery img {
  width: 50%;
  height: 145.140px;
}

@media (max-width: 992px) {
  .photo-gallery img {
    width: 80%;
  }
}

@media (max-width: 992px) {
  .portadabotone .botonreservar {
    margin-top: 25px;
  }
}

@media (max-width: 992px) {
  .portadabotone .botonorder {
  }
}

.info {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.info p {
  font-size: 28px;
  font-family: 'Bellefair';
}

.info img {
  width: 10%;
}

.info h1 {
  font-family: 'Bellefair';
}

.info2 {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 992px) {
  .info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 992px) {
  .info2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.info2 p {
  font-size: 28px;
  font-family: 'Bellefair';
}

.info2 h1 {
  font-family: 'Bellefair';
}

.info2 img {
  width: 10%;
}

#separacion {
  width: 20px;
}

#separacion-1 {
  width: 20px;
}

.proyectos {
  background: #fff;
  font-size: 14px;
  color: #000;
  padding: 0;
  height: 600px;
  margin: 0px;
}

@media (max-width: 992px) {
  .proyectos {
    height: 500px;
  }
}

.swiper-container {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
}

@media (max-width: 992px) {
  .swiper-container {
    margin-top: 50px;
  }
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.proyectos img {
  width: 100%;
}

.descripcion {
  max-width: 800px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
}

.proyectos h1 {
  font-family: 'Bellefair';
  font-size: 28px;
}

#navcol-3 a:hover {
  color: #dedede;
}

.titulo {
  background: white;
  width: 100%;
  height: 50px;
}

.titulo h1 {
  font-family: 'Bellefair';
}

.pie2 {
  text-align: center;
  max-width: 800px;
  height: 500px;
  margin: auto;
  display: flex;
  align-items: center;
}

.pie2 p {
  font-family: 'Bakbak One';
  font-size: 20px;
}

.pie2 img {
  width: 200px;
}

.madeby {
  background: url("./fondo.jpg");
}

.madeby p {
  font-size: 20px;
}

#order:hover {
  background: #007cef;
  color: white;
}

